
  .title {
    color: red;
  }
  .text1{
    color:black;
  }
  .back{
    background-color: whitesmoke;
  }
  img{
    border-style:dashed;
    display:block;
    margin: 30px auto;
  
  }
  .box{
    background-color: red;
    width:100px;height:100px;
    font-weight:bold;
    margin-top:10px;
  }
  button{
    width:50%;height:auto;
    padding:10px;
    margin:auto;
    display:block;
  }