body
{
  background-color: #a3a3a3;
  /** body에 배경이미지 적용 */


  background-image: url("../image/pattern.png");
  /** 고정된 사이즈로 설정 */


  background-size: 100px;


  /** 기본 body 사이즈를 화면 크기로 고정 */
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}


.bookcover 
{
  /** 배경 색깔 지정  */
  background-color: #b4d1da;
  width : 960px;
  height : 660px;
  top : 10%;
  margin : auto auto;
  position : relative;
  border-radius: 10px;
}
.bookdot
{
  position: absolute;
  width: 925px;
  height: 630px;
  top: 2%;
  left: 1%;
  border-style: dotted;
  border-color: white;
  border-radius: 10px;
}
.page {
  background-color: white;
  width: 900px;
  height: 610px;
  position: absolute;
  top: 2%;
  left: 1%;
  border-radius: 15px;
}