body
{
  background-color: #a3a3a3;
  /** body에 배경이미지 적용 */


  background-image: url("../image/pattern.png");
  /** 고정된 사이즈로 설정 */


  background-size: 12px;


  /** 기본 body 사이즈를 화면 크기로 고정 */
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}


.bookcover 
{
  /** 배경 색깔 지정  */
  width: 865px; height: 595px;
  background:#b9d5df;
  border-radius: 5px;
  margin: 50px auto;
  position: relative;
}
.bookdot
{
    width: 835px; height: 565px;
    border: 2px dashed white;
    border-radius: 5px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
.page {
    width: 820px; height: 545px;
    background: #efeeed;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;

    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
}

/*left*/

.left-container {
    display: flex;
    flex: 0.3;
    flex-direction: column;
    margin-right: 22px;
}

.left-container span {
    color: red;
}

.left-title {
    font-size: 12px;
    text-align: center;
    padding: 10px 0px;
}

.left-box {
    background: white;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    width: 195px; height: 485px;
}


/*middle*/

.middle-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.middle-box {
    background: white;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    width: 495px; height: 485px;
}

.middle-title {
    display: flex;
    font-size: 12px;
    font-weight: bold;
    padding: 9px 0px;
}

.middle-title-url {
    flex:0.95;
    text-align: right;
}


/* right*/

.right-container {
    display: flex;
    flex: 0.15;
    flex-direction: column;
    border: 1px solid rgb(165, 165, 165);
}